<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}

.header-top {
    display: flex;
    height: 12.5vh;
    align-items: center;
    justify-content: center;
    color: white;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('images/tree.gif');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f5f5f5;
}

.flexbox {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flexbox-item {
    flex: 1 1 0;
    min-width: 120px;
    aspect-ratio: 1 / 1;
    background-color: #ffffff9e;
    border-radius: 4px;
    border: 2px solid #000000;
    /* visible outline */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: white solid 2px;
    color: white;
}