*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: black solid 2px;
}